<footer>
	<div class="content-paddin">
		<div class="footer-content">
			<p>Copyright &copy; Alonso Ac</p>
			<div class="social-media-icons">
				<a href="#"><i class="fa fa-empire"></i></a>
				<a href="#"><i class="fa fa-rebel"></i></a>
			</div>
		</div>
	</div>
</footer>