<!DOCTYPE html>
<html lang="en">
<head>
	
	<% include parciales/head.ejs %>
	<title><%= title %></title>

</head>
<body>
	<% include parciales/header.ejs %>
	<div id="hero-image-notFound">
		<h1 id="hero-title"><%= title %></h1>
	</div>

	
	<% include parciales/footer.ejs %>
	<% include parciales/scripts.ejs %>
</body>
</html>

















